* {
    font-family: "Helvetica Neue";
    font-size: 14px;
}

QGroupBox {
    border: none;
}

QListWidget {
    background-color: #262626;
    border: none;
}

QListWidget::item:hover {
    background-color: #532c63;
}

QListWidget::item:selected {
    background-color: #492657;
}

QLabel {
    color: #e0e0e0;
}

QPushButton {
    border-radius: 3px;
    border: 1px solid #262626;
}

QPushButton:hover {
    background-color: #532c63;
}

QCheckBox {
    spacing: 6px;
}